* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* a medida das borda e contada junto com a medida de largura e altura */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(23, 51, 50);

}
.container {    /* centralização do arquivo */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.content {    /* dentro do quadrado direito ex: creat account */
    background-color: rgb(47, 201, 193);
    border-radius: 0px;
    width: 95%;
    height: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {  /* dentro do quadrado esquerdo ex: bem-vindo*/
    content: "";
    position: absolute;
    background-color: rgb(43, 236, 201);
    width: 50%;
    height: 100%;
}  
.title {    /* titulo login */
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
.title-primary {
   color: rgb(12, 74, 90);
}
.title-second {
    color:rgb(46, 77, 77);
}
.description {    /* parte descriva ex:to keep connected with us */
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: rgb(10, 2, 2);
}
.description-second {
    color: blue;
}
.btn {    /* butão  ex: sign up */
    border-radius: 15px;
    text-transform: uppercase;
    color: rgb(8, 8, 1);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}
.btn-primary {    /* butão ex: sign in */
   border-radius: 15px;
   background-color: transparent;
   border: 1px solid  #fff;
   color: rgb(0, 0, 0);
   font-size: 15px;
   padding: 10px 50px;
   cursor: pointer;
}
.btn-primary:hover {
    background-color: white;
    color: rgb(93, 218, 109);
}
.btn-second {
    background-color: rgb(43, 236, 201);
    border: 1px solid rgb(43, 236, 201);
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid rgb(93, 218, 109);
    color: rgb(93, 218, 109);

}
.first-content {    /* se separam dividir em duas parte */
    display: flex;
}
.first-column {  /* centralização da parte esqueda seja bem-vindo */
    text-align: center;
    flex: 1 auto;
    z-index: 10;
}
.second-column {   /* centralização da parte direita create account */
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form { /* serve pra direcionar o fluxo ,tipo organizar um em baixo do ouro os quadrado */
    display: flex;
    flex-direction: column;

}
.form input {    
    height: 50px;
    border: none; /* retira toda a borda */
    background-color:rgb(93, 218, 109);
    margin: 8px;
}