
html,body{
    font-family: sans-serif;
    background-image: url(imagem\ estrelada.pnj.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #eee;
}
h2{
    color: #458688;
    font-size: 23px;
    text-align: center;
}

hr{
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.2;
}

div{
    
    font-weight: bold;  
}

.red{
    background-color: rgb(132, 211, 149);
    height: 585px;
    border-style: solid;
    text-align: center;
    border-radius: 15px;
}
input[type='file']{
    display: none;
}

.max-width{
    max-width: 500px;
    width: 100%;
}
#imgPhoto {
    margin-top: 10%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: rgb(35, 121, 128);
    border: 5px solid rgb(106, 202, 170);
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}
#imgPhoto:hover {
    background-color: rgb(70, 59, 59);
    border: 5px solid #111;
 
}
.btn {
    margin-top: 5%;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid  rgb(106, 202, 170);;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px 50px;
} 
.configuracao-01{
    padding: 25px;
    text-align: center;
}
#configuracao-01:hover{
    background-color: rgb(70, 59, 59);
    color: #2aa330;
}
 
.btn-primary {
    padding-top: 5%;
    margin-right: 100px;
    background-color: rgb(35, 190, 30);
    width: 140px;
    height: 90px;
    border-radius: 10px;
    font-weight: 100;
}
.btn-primary:hover {
    background-color: rgb(134, 176, 204);
    color: rgb(2, 8, 8);
}
.configuracao-02{
    padding: 25px;
    text-align: center;
} 
.btn-third{
    margin-top: -10%;
    margin-right: 100px;
    background-color: rgb(35, 190, 30);
    width: 140px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
}
.btn-third:hover{
    background-color: rgb(134, 176, 204);
    color: rgb(2, 8, 8);
}
.green {
    background-color: rgb(56, 82, 82);
    height: 220px;
    border-style: solid;
    border-radius: 15px;
    
}
.bandeiras {
    text-align: center;
}
.yellow {
    background-color: rgb(53, 14, 192);
    height: 358px;
    border-style: solid;
    border-radius: 15px;
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.texto{
    padding-top: 20px;
    font-size: 50px;
    font-family:  'Scheherazade New', serif;
    text-align: center;
}
.pesquisar{
    height: 40px;
    width: 110px;
    padding-left: 10px;
    border: 1px solid  rgb(12, 9, 9);
    border-radius: 20px;
    color: rgb(14, 31, 29);
    font-size: 20px;
    font-family:  'Scheherazade New', serif;
    text-align: center;
    cursor: pointer;
 }
.butao-01{
    padding: 25px;
    text-align: center;
}
#butao-01:hover{
    background-color: rgb(70, 59, 59);
    color: #458688;
}
 
.seleciona{
    background-color: rgb(30, 190, 177);
    width: 100px;
    height: 30px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.tipo{
    background-color: rgb(30, 190, 177);
    width: 100px;
    height: 30px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    
}
.ingles {
    
    padding-top: 15px;
}
.brasil{
    
    padding-top: 15px;
}
.franca{
   
    padding-top: 15px;
}
.alemao {
    
    padding-top: 15px;
}
.espanhol {
    
    padding-top: 15px;
}
.japones{

    padding-top: 15px;
}
.botoes{
  display: grid;
  grid-template-areas: 'header header header' 
  'main main main';

}
.opcoes01{
    grid-area: header ;
    background-color: rgb(53, 14, 192);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 100px;
    grid-gap: 250px;
}
.opcoes02{
    grid-area: main;
    background-color: rgb(53, 14, 192);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 40px;

}
.idioma {
    background-color: rgb(53, 14, 192);
    display: grid;
    grid-template-columns: 2fr 2fr;

   
}
.professor{
    padding-left: 250px;
}
.nativo{
padding-top: 15px;
}
.nao-nativo {
    padding-top: 15px;
}