*{
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
 opacity: 0,7;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 500px;
}
.nav-list{
    color: #fff; 
    text-transform: uppercase;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    ;
}
img {
    width: 300px;
    padding-left: 40px;  
    margin-top: 100px; 
}
.figuras {
  left: 50%;
  margin-top: 5px;
}
.red {
    background-color: #fff;
    height: 500px;
}
.blue {
    background-color: #fff;
    height: 500px;   
}
.letra {
    margin-top: 120px;
    background-color: rgb(50, 209, 148);
}
.green{
    background-color: #fff;
    height: 500px;
    
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui,-apple-system, helvetical, arial, sans-serif;
  background: #23232e;
  height: 100px;
}

main {
    font-family: sans-serif;
    background-image: url(dezenho\ estrelado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 517px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}