<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Regra.css">
    <title>Document</title>
</head>
<body>
     <header>
         <nav>
             <a class="logo" href="/">Belingue World</a> 
             <ul class="nav-list">
                 <h1>Regra</h1>
             </ul>
         </nav>
     </header>
     <div class="gridContainer">
         <div class="red">
             <div class="figuras">
             <img src="regras (1).png" alt="Regra">
            </div>
         </div>
         <div class="blue">
             <div class="letra">
            <p>Este site tem esclusivamente a função de prover</p>
            <p>conhecimento sobre as linguas nativas,</p>
            <p>mesmo que possua a função de bate papo para</p>
            <p>melhorar a interação entre professor e aluno, </p>
            <p>a mesma não deve ser utilizada como se fosse uma</p>
            <p>rede social alternativa(esta plataforma so pode serutilizada</p>
            <p>para interagir com professores natios para fins educacionais).</p>
            <br>
            <br>
            <p>Qualquer forma de acesso que seja efetuada sem que a pessoa tenha </p>
            <p> adiquirido de forma convencional os nossos serviços(pagando),</p>
            <p>terá sua conta banida indefinidamente, não é tolerado nesta plataforma qualquer forma</p>
            <p>de burlar o contrato com os nossos serviços.</p>
             </div>
        </div>
         <div class="green">
             <img src="regras.png" alt="regras">
         </div>
    </div>
</body>
</html>