<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobre.css" th:href="@{sobre.css}">
    <title>Sobre</title>
</head>
<body>
     <header>
         <nav>
             <a class="logo" href="/">Belingue World</a> 
             <ul class="nav-list">
                 <h1>Sobre</h1>
             </ul>
         </nav>
     </header>
     <div class="gridContainer">
         <div class="red">
             <div class="figuras">
             <img th:src="@{intercambio-de-idiomas.png}" alt="Sobre">
            </div>
         </div>
         <div class="blue">
             <div class="letra">
            <p>Nossa plataforma foi desenvolvida com a função de  </p>
            <p>proporcionar às pessoas uma maneira de aprender outros idiomas</p> 
            <p> de forma mais econômica,possuindo vários tipos de idiomas, </p>
            <p>como por exemplo:(Inglês, Francês, Alemão, Japonês, Coreano, </p>  
            <p>Chinês, Russo, Italiano e etc...), proporcionandoassim uma experiência</p>  
            <p> de qualidade para nossos clientes, no caso, os nossos alunos.</p>
             </div>
        </div>
         <div class="green">
             <img th:src="@{mapa-mundial (1).png}" alt="regras">
         </div>
    </div>
</body>
</html>