<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" type="text/css"> 
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https: //fonts.googleapis.com/css2? family = Scheherazade + Novo: wght @ 700 & display = swap "rel =" stylesheet ">
    <link rel="stylesheet" href="aluno_inicial.css">
</head>
<body>
    <h1></h1>
    <h2></h2>
    <div class="gridContainer">
         <div class="blue">
            <div class="green">
                <div class="texto">Belingue World</div>
                 <div class="bandeiras">
                    <img src="https://img.icons8.com/color/100/000000/usa-circular.png"/>
                    <img src="https://img.icons8.com/color/100/000000/great-britain-circular.png"/>
                    <img src="https://img.icons8.com/color/100/000000/brazil-circular.png"/>
                    <img src="https://img.icons8.com/color/100/000000/france-circular.png"/>
                    <img src="https://img.icons8.com/color/100/000000/spain2-circular.png"/>
                    <img src="https://img.icons8.com/color/100/000000/germany-circular.png"/>
                 </div>
            </div>  
            <div class="yellow">
                <div class="butao-01">
                   <a href="/inicio">  <button class="pesquisar">Entrar</button></a>
                </div>
                <div class="botoes">
                    <div class="opcoes01">
                        <div class="seleciona">Selecione um idioma</div>
                        <div class="tipo">Tipo de professor</div>
                    </div>
                    <form>
                    <div class="opcoes02">
                        <select class="aluno" aria-label=".form-select-lg example">
                            <option selected>Selecione um idioma</option>
                            <option value="1">Ingles</option>
                            <option value="2">Portugues</option>
                            <option value="3">Espanhol</option>
                            <option value="4">Frances</option>
                            <option value="5">Alemão</option>
                            <option value="6">japones </option>
                        </select>
                        <select class="professor" aria-label=".form-select-lg example">
                            <option selected>Selecione um tipo</option>
                            <option value="1">Nativo</option>
                            <option value="2">não nativo</option>
                        </select>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
    
</html>